.maincontainer{
    display:flex;
    justify-content: center;
    align-items: center;
    height:fit-content
}
.table{
    background-color: #fff;
     width: 500px;
    
}
.theadOne{
    text-align:left;
    background: linear-gradient(89.09deg, #0E7469 3.31%, #2BAE95 95.19%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        font-family: 'DM Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 50px;
            
}
.theadTwo{
background: linear-gradient(89.09deg, #0E7469 3.31%, #2BAE95 95.19%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 50px;          
}
.text{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: #000000;
    line-height: 80px;
}
.textTwo{
    font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        color: #000000;
       
}
.btn{
        width: 100%;
        background: #1FC39E;
        border-radius: 8px;
        padding: 10px;
        color: #fff;
        margin-top: 30px;
        position: relative;
        left: 15%;
}